<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>درباره من | کوئرا لیست</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-[#ffffff] text-[#191c1e] dark:bg-[#040810] dark:text-[#e6e9ef]"
  >
    <!-- Start Header -->
    <header class="header shadow">
      <div class="header__wrapper bg-[#ffffff] dark:bg-[#040810]">
        <div class="header__inner container mx-auto">
          <button class="header__humber">
            <img src="../assets/icons/menu.svg" alt="منو" class="dark:hidden" />
            <img
              src="../assets/icons/menu-dark.svg"
              alt="منو"
              class="hidden dark:block"
            />
          </button>
          <div class="header__logo">
            <a href="index.html" class="text-[#141414] dark:text-[#FFFFFF]"
              >کوئرا لیست</a
            >
            <nav class="header__nav">
              <ul>
                <li>
                  <a
                    href="index.html"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >صفحه اصلی</a
                  >
                </li>
                <li>
                  <a
                    href="about.html"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >درباره ما</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >ارتباط با ما</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__actions">
            <button
              class="header__actions__auth rounded bg-[#2c7ef8] text-[#ffffff] dark:bg-[#3a86f8] dark:text-[#ffffff]"
            >
              ورود به اپلیکیشن
            </button>
            <button
              class="header__actions__toggle rounded border border-solid border-[#e3e3e3] dark:border-[#2F3132]"
            >
              <img src="../assets/icons/toggle-theme.svg" alt="تغییر تم" />
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- Finish Header -->

    <main>
      <!-- Start About -->
      <div class="about">
        <div class="about__wrapper">
          <div class="about__inner container mx-auto">
            <div
              class="about__inner__summary dark:hover:bg-[#0e1e34d5] cursor-pointer shadow rounded-lg py-6 px-4 md:px-9 bg-[#ffffff] dark:bg-[#0E1E34]"
            >
              <h2 class="about__inner__summary__title">درباره من</h2>
              <h1
                class="about__inner__summary__name text-[#575757] dark:text-[#B5B5B5]"
              >
                محمد فلاح
              </h1>
              <p class="about__inner__summary__description">
                کاربران اندروید می‌توانند اپلیکیشن کوئرالیست را از استورهای
                معتبر اندروید دانلود نمایند. همچنین کاربران سیستم عامل اپل علاوه
                بر دانلود نرم‌افزار از اپل‌استور می‌توانند از نسخه مبتنی بر وب
                آن استفاده نمایند. <br class="hidden md:block" />
                کاربران اندروید می‌توانند اپلیکیشن کوئرالیست را از استورهای
                معتبر اندروید دانلود نمایند. همچنین کاربران سیستم عامل اپل علاوه
                بر دانلود نرم‌افزار از اپل‌استور می‌توانند از نسخه مبتنی بر وب
                آن استفاده نمایند. <br class="hidden md:block" />
                کاربران اندروید می‌توانند اپلیکیشن کوئرالیست را از استورهای
                معتبر اندروید دانلود نمایند. همچنین کاربران سیستم عامل اپل علاوه
                بر دانلود نرم‌افزار از اپل‌استور می‌توانند از نسخه مبتنی بر وب
                آن استفاده نمایند.
              </p>
            </div>
            <div class="about__inner__image w-full h-96 xl:h-[30rem]">
              <img src="../assets/images/me.jpg" alt="Me" class="rounded-lg" />
            </div>
            <div class="about__inner__items">
              <div
                class="about__inner__items__item cursor-pointer dark:hover:bg-[#0e1e34d5] shadow rounded-lg py-4 pr-3 bg-[#fff] dark:bg-[#0E1E34]"
              >
                <h3 class="about__inner__items__item--large">1378</h3>
                <span
                  class="about__inner__items__item--small text-[#575757] dark:text-[#B5B5B5]"
                  >سال تولد</span
                >
              </div>

              <div
                class="about__inner__items__item cursor-pointer hover:bg-[#fff] dark:hover:bg-[#0e1e34d5] shadow rounded-lg py-4 pr-3 bg-[#fff] dark:bg-[#0E1E34]"
              >
                <h3 class="about__inner__items__item--large">جاجرم</h3>
                <span
                  class="about__inner__items__item--small text-[#575757] dark:text-[#B5B5B5]"
                  >محل زندگی</span
                >
              </div>

              <div
                class="about__inner__items__item cursor-pointer hover:bg-[#fff] dark:hover:bg-[#0e1e34d5] shadow rounded-lg py-4 pr-3 bg-[#fff] dark:bg-[#0E1E34]"
              >
                <h3 class="about__inner__items__item--large">2</h3>
                <span
                  class="about__inner__items__item--small text-[#575757] dark:text-[#B5B5B5]"
                  >سال تجربه کار</span
                >
              </div>

              <div
                class="about__inner__items__item cursor-pointer hover:bg-[#fff] dark:hover:bg-[#0e1e34d5] shadow rounded-lg py-4 pr-3 bg-[#fff] dark:bg-[#0E1E34]"
              >
                <h3 class="about__inner__items__item--large">10+</h3>
                <span
                  class="about__inner__items__item--small text-[#575757] dark:text-[#B5B5B5]"
                  >مشارکت در پروژه</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End About -->
    </main>

    <!-- Start Footer -->
    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__inner container mx-auto">
          <h4 class="footer__inner__title">کوئرا لیست</h4>
          <div class="footer__inner__contact">
            <div class="footer__inner__contact__action">
              <h5 class="footer__inner__contact__action__title">
                با ما در ارتباط باش
              </h5>
              <p class="footer__inner__contact__action__description">
                اگه میخوای اولین نفری باشی که از فیچرهای جدید و تخفیفات با خبر
                بشی.
              </p>
              <form
                action="#"
                class="footer__inner__contact__action__form relative my-8 md:my-0 md:mt-8"
              >
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="ایمیل"
                  class="outline-none border dark:bg-[#040810] rounded-xl w-full py-3 px-6 focus:border-[#2c7ef8] dark:focus:border-[#3a86f8]"
                />
                <button
                  type="submit"
                  class="absolute rounded bg-[#2c7ef8] text-white dark:bg-[#3a86f8] py-1 px-3 left-2 top-1/2"
                >
                  ارسال
                </button>
              </form>
            </div>
            <div class="footer__inner__contact__info">
              <div
                class="footer__inner__contact__info__item footer__inner__contact__info__address rounded-lg py-5 px-3 shadow bg-[#ffffff] md:bg-transparent dark:md:bg-transparent dark:bg-[#081021] md:rounded-none md:p-0 md:shadow-none"
              >
                <div
                  class="footer__inner__contact__info__item__image p-4 rounded-full bg-[#f5fbff] dark:bg-[#D4DEE814] dark:md:bg-transparent md:bg-transparent md:p-0 md:rounded-none"
                >
                  <img
                    src="../assets/icons/map.svg"
                    alt="Map"
                    class="hidden md:block dark:hidden w-6"
                  />
                  <img
                    src="../assets/icons/map-mobile.svg"
                    alt="Map"
                    class="dark:hidden md:hidden"
                  />
                  <img
                    src="../assets/icons/map-mobile-dark.svg"
                    alt="Map"
                    class="hidden dark:block dark:md:w-4"
                  />
                </div>
                <p class="footer__inner__contact__info__item__content">
                  آدرس دفتر مرکزی: پونک - خیابان اشرفی اصفهانی - خیابان صبحدل-
                  بن بست شب بو
                </p>
              </div>

              <div
                class="footer__inner__contact__info__item footer__inner__contact__info__phone rounded-lg py-5 px-3 shadow bg-[#ffffff] md:bg-transparent dark:md:bg-transparent dark:bg-[#081021] md:rounded-none md:p-0 md:shadow-none"
              >
                <div
                  class="footer__inner__contact__info__item__image p-4 rounded-full bg-[#f5fbff] dark:bg-[#D4DEE814] dark:md:bg-transparent md:bg-transparent md:p-0 md:rounded-none"
                >
                  <img
                    src="../assets/icons/call.svg"
                    alt="Call"
                    class="hidden md:block dark:hidden w-4"
                  />
                  <img
                    src="../assets/icons/call-mobile.svg"
                    alt="Call"
                    class="dark:hidden md:hidden"
                  />
                  <img
                    src="../assets/icons/call-mobile-dark.svg"
                    alt="Call"
                    class="hidden dark:block"
                  />
                </div>
                <p class="footer__inner__contact__info__item__content">
                  تلفن پشتیبانی: ۴۴۴۴۵۵۶۶ - ۰۲۱
                </p>
              </div>

              <div
                class="footer__inner__contact__info__item footer__inner__contact__info__fax rounded-lg py-5 px-3 shadow bg-[#ffffff] md:bg-transparent dark:md:bg-transparent dark:bg-[#081021] md:rounded-none md:p-0 md:shadow-none"
              >
                <div
                  class="footer__inner__contact__info__item__image p-4 rounded-full bg-[#f5fbff] dark:bg-[#D4DEE814] dark:md:bg-transparent md:bg-transparent md:p-0 md:rounded-none"
                >
                  <img
                    src="../assets/icons/fax.svg"
                    alt="Fax"
                    class="hidden md:block dark:hidden w-4"
                  />
                  <img
                    src="../assets/icons/fax-mobile.svg"
                    alt="Fax"
                    class="dark:hidden md:hidden"
                  />
                  <img
                    src="../assets/icons/fax-mobile-dark.svg"
                    alt="Fax"
                    class="hidden dark:block"
                  />
                </div>
                <p class="footer__inner__contact__info__item__content">
                  فکس: ۴۴۴۴۵۵۶۶ - ۰۲۱
                </p>
              </div>
            </div>
          </div>
          <p class="footer__inner__description text-[#666666]">
            تمامی حقوق مادی و معنوی این سایت متعلق به کوئرا لیست می‌باشد.
          </p>
        </div>
      </div>
    </footer>
    <!-- Finish Footer -->
  </body>
</html>
