<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>کوئرا لیست | تمرکز رو وارد زندگیت کن</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-[#ffffff] text-[#191c1e] dark:bg-[#040810] dark:text-[#e6e9ef]"
  >
    <!-- Start Header -->
    <header class="header">
      <div class="header__wrapper bg-[#ffffff] dark:bg-[#040810]">
        <div class="header__inner container mx-auto">
          <button class="header__humber">
            <img src="../assets/icons/menu.svg" alt="منو" class="dark:hidden" />
            <img
              src="../assets/icons/menu-dark.svg"
              alt="منو"
              class="hidden dark:block"
            />
          </button>
          <div class="header__logo">
            <a href="index.html" class="text-[#141414] dark:text-[#FFFFFF]"
              >کوئرا لیست</a
            >
            <nav class="header__nav">
              <ul>
                <li>
                  <a
                    href="index.html"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >صفحه اصلی</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >درباره ما</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >ارتباط با ما</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__actions">
            <button
              class="header__actions__auth rounded bg-[#2c7ef8] text-[#ffffff] dark:bg-[#3a86f8] dark:text-[#ffffff]"
            >
              ورود به اپلیکیشن
            </button>
            <button
              class="header__actions__toggle rounded border border-solid border-[#e3e3e3] dark:border-[#2F3132]"
            >
              <img src="../assets/icons/toggle-theme.svg" alt="تغییر تم" />
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- Finish Header -->

    <main>
      <!-- Start Introduce -->
      <div class="introduce">
        <div class="introduce__wrapper">
          <div class="introduce__inner container mx-auto">
            <div class="introduce__inner__title relative">
              <h2 class="introduce__inner__title--medium">
                تمرکز رو وارد زندگیت کن
              </h2>
              <h1 class="introduce__inner__title--large">
                به سمت اهدافت اوج بگیر
              </h1>
              <img
                src="../assets/icons/line.svg"
                alt="Line"
                class="w-36 mt-3 md:w-48 lg:w-60"
              />
              <img
                src="../assets/icons/star.svg"
                alt="Star"
                class="absolute w-6 lg:w-auto -top-5 -right-5 md:-right-10 lg:-right-16 dark:hidden"
              />
              <img
                src="../assets/icons/star.svg"
                alt="Star"
                class="absolute w-6 lg:w-auto -bottom-5 -left-10 md:-left-20 lg:-left-28 dark:hidden"
              />
              <img
                src="../assets/icons/star-dark.svg"
                alt="Star"
                class="hidden absolute w-6 lg:w-auto -top-5 -right-5 md:-right-10 lg:-right-16 dark:block"
              />
              <img
                src="../assets/icons/star-dark.svg"
                alt="Star"
                class="hidden absolute w-6 lg:w-auto -bottom-5 -left-10 md:-left-20 lg:-left-28 dark:block"
              />
            </div>

            <div class="introduce__inner__description">
              <p>
                زمان در یک روز برای ما محدود است، اما مهمترین کار این است که
                چگونه از آن استفاده می‌کنیم. با اپلیکیشن کوئرا لیست، زمان خود را
                با هدف و برنامه‌ریزی موثر سپری کنید.
              </p>
            </div>
            <div class="introduce__inner__actions">
              <button
                class="introduce__inner__actions--auth rounded bg-[#2c7ef8] text-[#ffffff] dark:bg-[#3a86f8] dark:text-[#ffffff]"
              >
                ورود به اپلیکیشن
              </button>
              <button
                class="introduce__inner__actions--about rounded text-[#2c7ef8] bg-[#ebf3ff] dark:bg-[#0267FF40] dark:text-[#ffffff]"
              >
                درباره ما
              </button>
            </div>
            <div class="introduce__inner__picture">
              <img
                src="../assets/images/application-image-light.png"
                alt="دمو اپلیکیشن"
                class="dark:hidden"
              />
              <img
                src="../assets/images/application-image-dark.png"
                alt="دمو اپلیکیشن"
                class="hidden dark:block"
              />
            </div>
          </div>
          <div
            class="introduce__overlay bg-gradient-to-b from-[#ebf3ff] to-[#ffffff] dark:from-[#0267FF40] dark:to-[#1A202C00]"
          ></div>
        </div>
      </div>
      <!-- Finish Introduce -->

      <!-- Start Feature -->
      <div class="feature">
        <div class="feature__wrapper">
          <div class="feature__inner container mx-auto">
            <h3 class="feature__inner__title">ویژگی‌های اپلیکیشن کوئرا لیست</h3>
            <p class="feature__inner__description">
              زمان در یک روز برای ما محدود است، اما مهمترین کار این است که چگونه
              از آن استفاده می‌کنیم. با اپلیکیشن کوییرا لیست، زمان خود را با هدف
              و برنامه‌ریزی موثر سپری کنید.
            </p>
            <div class="feature__inner__items">
              <div
                class="feature__inner__item bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/brush.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/brush-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">رابط کاربری جذاب</h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>

              <div
                class="feature__inner__item bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/category.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/category-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">
                  قابلیت دسته بندی کارها
                </h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>

              <div
                class="feature__inner__item bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/location-tick.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/location-tick-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">دسترسی آسان</h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>

              <div
                class="feature__inner__item bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/user-tag.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/user-tag-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">پشتیبانی آنلاین</h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Finish Feature -->
    </main>
  </body>
</html>
