<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>کوئرا لیست | تمرکز رو وارد زندگیت کن</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-[#ffffff] text-[#191c1e] dark:bg-[#040810] dark:text-[#e6e9ef]"
  >
    <!-- Start Header -->
    <header class="header">
      <div class="header__wrapper bg-[#ffffff] dark:bg-[#040810]">
        <div class="header__inner container mx-auto">
          <button class="header__humber">
            <img src="../assets/icons/menu.svg" alt="منو" class="dark:hidden" />
            <img
              src="../assets/icons/menu-dark.svg"
              alt="منو"
              class="hidden dark:block"
            />
          </button>
          <div class="header__logo">
            <a href="index.html" class="text-[#141414] dark:text-[#FFFFFF]"
              >کوئرا لیست</a
            >
            <nav class="header__nav">
              <ul>
                <li>
                  <a
                    href="index.html"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >صفحه اصلی</a
                  >
                </li>
                <li>
                  <a
                    href="about.html"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >درباره ما</a
                  >
                </li>
                <li>
                  <a
                    href="contact.html"
                    class="text-[#666666] hover:text-[#075cd9] dark:text-[#CFCFCF] dark:hover:text-[#6ba4fa]"
                    >ارتباط با ما</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__actions">
            <button
              class="header__actions__auth rounded bg-[#2c7ef8] text-[#ffffff] dark:bg-[#3a86f8] dark:text-[#ffffff]"
            >
              ورود به اپلیکیشن
            </button>
            <button
              class="header__actions__toggle rounded border border-solid border-[#e3e3e3] dark:border-[#2F3132]"
            >
              <img src="../assets/icons/toggle-theme.svg" alt="تغییر تم" />
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- Finish Header -->

    <main>
      <div
        class="w-44 md:w-60 md:h-60 lg:w-80 h-44 lg:h-80 absolute bg-gradient-to-br from-[#E0EDFF] to-[#EFEBFF00] rounded-full shadow-sm -z-10 opacity-60 top-10 left-5 dark:hidden"
      ></div>
      <div
        class="w-44 md:w-60 md:h-60 lg:w-80 h-44 lg:h-80 absolute bg-gradient-to-br from-[#E0EDFF] to-[#EFEBFF00] rounded-full shadow-sm -z-10 opacity-50 top-36 -right-10 dark:hidden"
      ></div>
      <div
        class="w-44 md:w-60 md:h-60 lg:w-80 h-44 lg:h-80 absolute bg-gradient-to-br from-[#E0EDFF] to-[#EFEBFF00] rounded-full shadow-sm -z-10 opacity-30 top-[1300px] -left-16 dark:hidden"
      ></div>
      <div
        class="w-44 md:w-60 md:h-60 lg:w-80 h-44 lg:h-80 absolute bg-gradient-to-br from-[#E0EDFF] to-[#EFEBFF00] rounded-full shadow-sm -z-10 opacity-20 top-[1100px] -right-32 dark:hidden"
      ></div>
      <div
        class="w-44 md:w-60 md:h-60 lg:w-80 h-44 lg:h-80 absolute bg-gradient-to-br from-[#E0EDFF] to-[#EFEBFF00] rounded-full shadow-sm -z-10 opacity-30 top-[1900px] -left-32 dark:hidden"
      ></div>
      <div
        class="w-44 md:w-60 md:h-60 lg:w-80 h-44 lg:h-80 absolute bg-gradient-to-br from-[#E0EDFF] to-[#EFEBFF00] rounded-full shadow-sm -z-10 opacity-60 top-[2500px] -right-16 dark:hidden"
      ></div>

      <!-- Start Introduce -->
      <div class="introduce">
        <div class="introduce__wrapper">
          <div class="introduce__inner container mx-auto">
            <div class="introduce__inner__title relative">
              <h2 class="introduce__inner__title--medium">
                تمرکز رو وارد زندگیت کن
              </h2>
              <h1 class="introduce__inner__title--large">
                به سمت اهدافت اوج بگیر
              </h1>
              <img
                src="../assets/icons/line.svg"
                alt="Line"
                class="w-36 mt-3 md:w-48 lg:w-60"
              />
              <img
                src="../assets/icons/star.svg"
                alt="Star"
                class="absolute w-6 lg:w-auto -top-5 -right-5 md:-right-10 lg:-right-16 dark:hidden"
              />
              <img
                src="../assets/icons/star.svg"
                alt="Star"
                class="absolute w-6 lg:w-auto -bottom-5 -left-10 md:-left-20 lg:-left-28 dark:hidden"
              />
              <img
                src="../assets/icons/star-dark.svg"
                alt="Star"
                class="hidden absolute w-6 lg:w-auto -top-5 -right-5 md:-right-10 lg:-right-16 dark:block"
              />
              <img
                src="../assets/icons/star-dark.svg"
                alt="Star"
                class="hidden absolute w-6 lg:w-auto -bottom-5 -left-10 md:-left-20 lg:-left-28 dark:block"
              />
            </div>

            <div class="introduce__inner__description">
              <p>
                زمان در یک روز برای ما محدود است، اما مهمترین کار این است که
                چگونه از آن استفاده می‌کنیم. با اپلیکیشن کوئرا لیست، زمان خود را
                با هدف و برنامه‌ریزی موثر سپری کنید.
              </p>
            </div>
            <div class="introduce__inner__actions">
              <button
                class="introduce__inner__actions--auth rounded bg-[#2c7ef8] text-[#ffffff] dark:bg-[#3a86f8] dark:text-[#ffffff]"
              >
                ورود به اپلیکیشن
              </button>
              <button
                class="introduce__inner__actions--about rounded text-[#2c7ef8] bg-[#ebf3ff] dark:bg-[#0267FF40] dark:text-[#ffffff]"
              >
                درباره ما
              </button>
            </div>
            <div class="introduce__inner__picture">
              <img
                src="../assets/images/application-image-light.png"
                alt="دمو اپلیکیشن"
                class="dark:hidden"
              />
              <img
                src="../assets/images/application-image-dark.png"
                alt="دمو اپلیکیشن"
                class="hidden dark:block"
              />
            </div>
          </div>
          <div
            class="introduce__overlay bg-gradient-to-b from-[#ebf3ff] to-[#ffffff] dark:from-[#0267FF40] dark:to-[#1A202C00]"
          ></div>
        </div>
      </div>
      <!-- Finish Introduce -->

      <!-- Start Feature -->
      <div class="feature">
        <div class="feature__wrapper">
          <div class="feature__inner container mx-auto">
            <h3 class="feature__inner__title">ویژگی‌های اپلیکیشن کوئرا لیست</h3>
            <p class="feature__inner__description">
              زمان در یک روز برای ما محدود است، اما مهمترین کار این است که چگونه
              از آن استفاده می‌کنیم. با اپلیکیشن کوییرا لیست، زمان خود را با هدف
              و برنامه‌ریزی موثر سپری کنید.
            </p>
            <div class="feature__inner__items">
              <div
                class="feature__inner__item shadow-sm bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/brush.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/brush-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">رابط کاربری جذاب</h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>

              <div
                class="feature__inner__item shadow-sm bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/category.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/category-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">
                  قابلیت دسته بندی کارها
                </h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>

              <div
                class="feature__inner__item shadow-sm bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/location-tick.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/location-tick-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">دسترسی آسان</h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>

              <div
                class="feature__inner__item shadow-sm bg-[#ffffff] border border-solid border-[#f5f6f8] dark:bg-[#0B192D] dark:border-none"
              >
                <div
                  class="feature__inner__item__logo bg-[#f5fbff] dark:bg-[#D4DEE814]"
                >
                  <img
                    src="../assets/icons/user-tag.svg"
                    alt="Brush"
                    class="dark:hidden"
                  />
                  <img
                    src="../assets/icons/user-tag-dark.svg"
                    alt="Brush"
                    class="hidden dark:block"
                  />
                </div>
                <h4 class="feature__inner__item__title">پشتیبانی آنلاین</h4>
                <p class="feature__inner__item__description">
                  اگه از سردرگمی و بی برنامگی خسته شدی این اپلیکیشن مخصوص خودته!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Finish Feature -->

      <!-- Start Download -->
      <div class="download">
        <div class="download__wrapper">
          <div class="download__inner container mx-auto">
            <div class="download__inner__right">
              <span class="download__inner__right__label"
                >اپلیکیشن اندروید و IOS</span
              >
              <h3 class="download__inner__right__title">دانلود اپلیکیشن</h3>
              <div class="download__inner__right__picture">
                <img
                  src="../assets/images/app-mobile-small-light.png"
                  alt="Application"
                  class="dark:hidden"
                />
                <img
                  src="../assets/images/app-mobile-small-dark.png"
                  alt="Application"
                  class="hidden dark:block"
                />
              </div>
              <p class="download__inner__right__description">
                کاربران اندروید می‌توانند اپلیکیشن کوئرالیست را از استورهای
                معتبر اندروید دانلود نمایند. همچنین کاربران سیستم عامل اپل علاوه
                بر دانلود نرم‌افزار از اپل‌استور می‌توانند از نسخه مبتنی بر وب
                آن استفاده نمایند. همچنین کاربران سیستم عامل اپل علاوه بر دانلود
                نرم‌افزار از اپل‌استور می‌توانند از نسخه مبتنی بر وب آن استفاده
                نمایند.
              </p>
              <button
                class="download__inner__right__action text-[#2c7ef8] dark:text-[#3a86f8]"
              >
                ورود به اپلیکیشن
                <img
                  src="../assets/icons/arrow-right.svg"
                  alt="Arrow"
                  class="w-5 md:w-auto"
                />
              </button>
            </div>
            <div class="download__inner__left relative">
              <img
                src="../assets/images/app-web-light.png"
                alt="Application"
                class="dark:hidden"
              />
              <img
                src="../assets/images/app-web-dark.png"
                alt="Application"
                class="hidden dark:block"
              />
              <img
                src="../assets/images/app-mobile-light.png"
                alt="Application"
                class="absolute top-6 right-14 dark:hidden md:w-24 md:right-8 lg:w-32 lg:right-12 xl:w-44"
              />
              <img
                src="../assets/images/app-mobile-dark.png"
                alt="Application"
                class="absolute top-6 right-14 hidden dark:block md:w-24 md:right-8 lg:w-32 lg:right-12 xl:w-44"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Finish Download -->

      <!-- Start Comment -->
      <div class="comment">
        <div class="comment__wrapper">
          <div class="comment__inner container mx-auto">
            <h3 class="comment__inner__title">نظرات کاربران</h3>
            <p class="comment__inner__description">
              بیش از یک دهه است که کوئرا لیست به مردم در سراسر جهان کمک می‌کند
              تا سازماندهی شوند و به اهداف خود برسند.
            </p>
            <div class="comment__inner__items">
              <div
                class="comment__inner__item rounded-lg bg-[#FFFFFF] dark:bg-[#0B192D] shadow"
              >
                <div class="comment__inner__item__header">
                  <div class="comment__inner__item__header__image">
                    <img
                      src="../assets/images/user1.png"
                      alt="User"
                      class="w-14 md:w-16 xl:w-auto"
                    />
                  </div>
                  <div class="comment__inner__item__header__label">
                    <h4 class="comment__inner__item__header__label--large">
                      علی ملکی
                    </h4>
                    <span class="comment__inner__item__header__label--small"
                      >مهندس نرم افزار دیجی کالا</span
                    >
                  </div>
                </div>
                <div class="comment__inner__item__content">
                  <p>
                    تجربه من با کوئرا لیست زندگی من رو تغییر داده است. من از
                    دنیایی اومدم که همه چیز من در اکسل بود. استفاده از کوئرا
                    لیست به ما این امکان رو می‌دهد که باهوش‌تر، سریع‌تر و سازمان
                    دهی شده تر زندگی کنیم و هم چینین همه چیز به گونه‌ای ساده
                    تنظیم شده و میتونیم از یکپارچگی اطلاعات و دیتاها لذت ببریم.
                  </p>
                </div>
              </div>

              <div
                class="comment__inner__item rounded-lg bg-[#FFFFFF] dark:bg-[#0B192D] shadow"
              >
                <div class="comment__inner__item__header">
                  <div class="comment__inner__item__header__image">
                    <img
                      src="../assets/images/user2.png"
                      alt="User"
                      class="w-14 md:w-16 xl:w-auto"
                    />
                  </div>
                  <div class="comment__inner__item__header__label">
                    <h4 class="comment__inner__item__header__label--large">
                      علی ملکی
                    </h4>
                    <span class="comment__inner__item__header__label--small"
                      >مهندس نرم افزار دیجی کالا</span
                    >
                  </div>
                </div>
                <div class="comment__inner__item__content">
                  <p>
                    تجربه من با کوئرا لیست زندگی من رو تغییر داده است. من از
                    دنیایی اومدم که همه چیز من در اکسل بود. استفاده از کوئرا
                    لیست به ما این امکان رو می‌دهد که سریع تر باشیم
                  </p>
                </div>
              </div>

              <div
                class="comment__inner__item rounded-lg bg-[#FFFFFF] dark:bg-[#0B192D] shadow"
              >
                <div class="comment__inner__item__header">
                  <div class="comment__inner__item__header__image">
                    <img
                      src="../assets/images/user3.png"
                      alt="User"
                      class="w-14 md:w-16 xl:w-auto"
                    />
                  </div>
                  <div class="comment__inner__item__header__label">
                    <h4 class="comment__inner__item__header__label--large">
                      علی ملکی
                    </h4>
                    <span class="comment__inner__item__header__label--small"
                      >مهندس نرم افزار دیجی کالا</span
                    >
                  </div>
                </div>
                <div class="comment__inner__item__content">
                  <p>
                    تجربه من با کوئرا لیست زندگی من رو تغییر داده است. من از
                    دنیایی اومدم که همه چیز من در اکسل بود. استفاده از کوئرا
                    لیست به ما این امکان رو می‌دهد که باهوش‌تر، سریع‌تر و سازمان
                    دهی شده تر زندگی کنیم و هم چینین همه چیز به گونه‌ای ساده
                    تنظیم شده و میتونیم از یکپارچگی اطلاعات و دیتاها لذت ببریم.
                  </p>
                </div>
              </div>

              <div
                class="comment__inner__item rounded-lg bg-[#FFFFFF] dark:bg-[#0B192D] shadow"
              >
                <div class="comment__inner__item__header">
                  <div class="comment__inner__item__header__image">
                    <img
                      src="../assets/images/user4.png"
                      alt="User"
                      class="w-14 md:w-16 xl:w-auto"
                    />
                  </div>
                  <div class="comment__inner__item__header__label">
                    <h4 class="comment__inner__item__header__label--large">
                      علی ملکی
                    </h4>
                    <span class="comment__inner__item__header__label--small"
                      >مهندس نرم افزار دیجی کالا</span
                    >
                  </div>
                </div>
                <div class="comment__inner__item__content">
                  <p>
                    تجربه من با کوئرا لیست زندگی من رو تغییر داده است. من از
                    دنیایی اومدم که همه چیز من در اکسل بود. استفاده از کوئرا
                    لیست به ما این امکان رو می‌دهد که سریع تر باشیم
                  </p>
                </div>
              </div>

              <div
                class="comment__inner__item rounded-lg bg-[#FFFFFF] dark:bg-[#0B192D] shadow"
              >
                <div class="comment__inner__item__header">
                  <div class="comment__inner__item__header__image">
                    <img
                      src="../assets/images/user5.png"
                      alt="User"
                      class="w-14 md:w-16 xl:w-auto"
                    />
                  </div>
                  <div class="comment__inner__item__header__label">
                    <h4 class="comment__inner__item__header__label--large">
                      علی ملکی
                    </h4>
                    <span class="comment__inner__item__header__label--small"
                      >مهندس نرم افزار دیجی کالا</span
                    >
                  </div>
                </div>
                <div class="comment__inner__item__content">
                  <p>
                    تجربه من با کوئرا لیست زندگی من رو تغییر داده است. من از
                    دنیایی اومدم که همه چیز من در اکسل بود. استفاده از کوئرا
                    لیست به ما این امکان رو می‌دهد که باهوش‌تر، سریع‌تر و سازمان
                    دهی شده تر زندگی کنیم و هم چینین همه چیز به گونه‌ای ساده
                    تنظیم شده و میتونیم از یکپارچگی اطلاعات و دیتاها لذت ببریم.
                  </p>
                </div>
              </div>

              <div
                class="comment__inner__item rounded-lg bg-[#FFFFFF] dark:bg-[#0B192D] shadow"
              >
                <div class="comment__inner__item__header">
                  <div class="comment__inner__item__header__image">
                    <img
                      src="../assets/images/user6.png"
                      alt="User"
                      class="w-14 md:w-16 xl:w-auto"
                    />
                  </div>
                  <div class="comment__inner__item__header__label">
                    <h4 class="comment__inner__item__header__label--large">
                      علی ملکی
                    </h4>
                    <span class="comment__inner__item__header__label--small"
                      >مهندس نرم افزار دیجی کالا</span
                    >
                  </div>
                </div>
                <div class="comment__inner__item__content">
                  <p>
                    تجربه من با کوئرا لیست زندگی من رو تغییر داده است. من از
                    دنیایی اومدم که همه چیز من در اکسل بود. استفاده از کوئرا
                    لیست به ما این امکان رو می‌دهد که سریع تر باشیم
                  </p>
                </div>
              </div>
            </div>
            <div class="comment__inner__slid flex">
              <button
                class="comment__inner__slid--right ml-6 px-4 py-2 rounded-md border dark:border-none dark:bg-[#0B192D]"
              >
                <img
                  src="../assets/icons/chevron-right.svg"
                  alt="Chevron Right"
                  class="dark:hidden"
                />
                <img
                  src="../assets/icons/chevron-right-dark.svg"
                  alt="Chevron Right"
                  class="hidden dark:block"
                />
              </button>
              <button
                class="comment__inner__slid--left px-4 py-2 rounded-md border dark:border-none dark:bg-[#0B192D]"
              >
                <img
                  src="../assets/icons/chevron-left-dark.svg"
                  alt="Chevron Right"
                  class="hidden dark:block"
                />
                <img
                  src="../assets/icons/chevron-left.svg"
                  alt="Chevron Right"
                  class="dark:hidden"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Finish Comment -->
    </main>

    <!-- Start Footer -->
    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__inner container mx-auto">
          <h4 class="footer__inner__title">کوئرا لیست</h4>
          <div class="footer__inner__contact">
            <div class="footer__inner__contact__action">
              <h5 class="footer__inner__contact__action__title">
                با ما در ارتباط باش
              </h5>
              <p class="footer__inner__contact__action__description">
                اگه میخوای اولین نفری باشی که از فیچرهای جدید و تخفیفات با خبر
                بشی.
              </p>
              <form
                action="#"
                class="footer__inner__contact__action__form relative my-8 md:my-0 md:mt-8"
              >
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="ایمیل"
                  class="outline-none border dark:bg-[#040810] rounded-xl w-full py-3 px-6 focus:border-[#2c7ef8] dark:focus:border-[#3a86f8]"
                />
                <button
                  type="submit"
                  class="absolute rounded bg-[#2c7ef8] text-white dark:bg-[#3a86f8] py-1 px-3 left-2 top-1/2"
                >
                  ارسال
                </button>
              </form>
            </div>
            <div class="footer__inner__contact__info">
              <div
                class="footer__inner__contact__info__item footer__inner__contact__info__address rounded-lg py-5 px-3 shadow bg-[#ffffff] md:bg-transparent dark:md:bg-transparent dark:bg-[#081021] md:rounded-none md:p-0 md:shadow-none"
              >
                <div
                  class="footer__inner__contact__info__item__image p-4 rounded-full bg-[#f5fbff] dark:bg-[#D4DEE814] dark:md:bg-transparent md:bg-transparent md:p-0 md:rounded-none"
                >
                  <img
                    src="../assets/icons/map.svg"
                    alt="Map"
                    class="hidden md:block dark:hidden w-6"
                  />
                  <img
                    src="../assets/icons/map-mobile.svg"
                    alt="Map"
                    class="dark:hidden md:hidden"
                  />
                  <img
                    src="../assets/icons/map-mobile-dark.svg"
                    alt="Map"
                    class="hidden dark:block dark:md:w-4"
                  />
                </div>
                <p class="footer__inner__contact__info__item__content">
                  آدرس دفتر مرکزی: پونک - خیابان اشرفی اصفهانی - خیابان صبحدل-
                  بن بست شب بو
                </p>
              </div>

              <div
                class="footer__inner__contact__info__item footer__inner__contact__info__phone rounded-lg py-5 px-3 shadow bg-[#ffffff] md:bg-transparent dark:md:bg-transparent dark:bg-[#081021] md:rounded-none md:p-0 md:shadow-none"
              >
                <div
                  class="footer__inner__contact__info__item__image p-4 rounded-full bg-[#f5fbff] dark:bg-[#D4DEE814] dark:md:bg-transparent md:bg-transparent md:p-0 md:rounded-none"
                >
                  <img
                    src="../assets/icons/call.svg"
                    alt="Call"
                    class="hidden md:block dark:hidden w-4"
                  />
                  <img
                    src="../assets/icons/call-mobile.svg"
                    alt="Call"
                    class="dark:hidden md:hidden"
                  />
                  <img
                    src="../assets/icons/call-mobile-dark.svg"
                    alt="Call"
                    class="hidden dark:block"
                  />
                </div>
                <p class="footer__inner__contact__info__item__content">
                  تلفن پشتیبانی: ۴۴۴۴۵۵۶۶ - ۰۲۱
                </p>
              </div>

              <div
                class="footer__inner__contact__info__item footer__inner__contact__info__fax rounded-lg py-5 px-3 shadow bg-[#ffffff] md:bg-transparent dark:md:bg-transparent dark:bg-[#081021] md:rounded-none md:p-0 md:shadow-none"
              >
                <div
                  class="footer__inner__contact__info__item__image p-4 rounded-full bg-[#f5fbff] dark:bg-[#D4DEE814] dark:md:bg-transparent md:bg-transparent md:p-0 md:rounded-none"
                >
                  <img
                    src="../assets/icons/fax.svg"
                    alt="Fax"
                    class="hidden md:block dark:hidden w-4"
                  />
                  <img
                    src="../assets/icons/fax-mobile.svg"
                    alt="Fax"
                    class="dark:hidden md:hidden"
                  />
                  <img
                    src="../assets/icons/fax-mobile-dark.svg"
                    alt="Fax"
                    class="hidden dark:block"
                  />
                </div>
                <p class="footer__inner__contact__info__item__content">
                  فکس: ۴۴۴۴۵۵۶۶ - ۰۲۱
                </p>
              </div>
            </div>
          </div>
          <p class="footer__inner__description text-[#666666]">
            تمامی حقوق مادی و معنوی این سایت متعلق به کوئرا لیست می‌باشد.
          </p>
        </div>
      </div>
    </footer>
    <!-- Finish Footer -->
  </body>
</html>
