// === Break Points ===
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// === Colors ===
$primary-light: #2c7ef8;
$primary-hover-light: #075cd9;
$on-primary-light: #ffffff;
$primary-dark: #3a86f8;
$primary-hover-dark: #6ba4fa;
$on-primary-dark: #ffffff;

$background-light: #ffffff;
$on-background-light: #191c1e;
$surface-light: #ffffff;
$background-dark: #040810;
$on-background-dark: #e6e9ef;
$surface-dark: #e6e9ef;

$success-color: #90f677;
$error-color: #e63946;

// === Font Family ===
$font-yekan-bakh: "Yekan Bakh";
$font-kalameh: "Kalameh";
