@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Regular.woff2) format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-SemiBold.woff2) format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Bold.woff2) format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Black.woff2) format(woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Regular.woff2) format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-SemiBold.woff2) format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Bold.woff2) format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Black.woff2) format(woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Bold.woff2);
  font-weight: 700;
}
* {
  font-family: "Yekan Bakh";
}

.header__wrapper {
  width: 100%;
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 32px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    position: initial;
    padding: 16px 32px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__humber {
    display: none;
  }
}
.header__logo a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Yekan Bakh";
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__logo a {
    position: initial;
    transform: unset;
    font-family: "Yekan Bakh";
    font-size: 18px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}
.header__nav ul {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .header__nav ul li a {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  .header__nav ul li a:hover {
    color: #075cd9;
  }
}
.header__actions {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__actions__auth {
    padding: 8px 24px;
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 600;
  }
  .header__actions__toggle {
    padding: 8px;
  }
}

.introduce__wrapper {
  width: 100%;
}
.introduce__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}
.introduce__inner__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 64px;
}
.introduce__inner__title--medium {
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .introduce__inner__title--medium {
    font-family: "Kalameh";
    font-size: 24px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__title--medium {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
  }
}
.introduce__inner__title--large {
  font-family: "Kalameh";
  font-size: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .introduce__inner__title--large {
    font-family: "Kalameh";
    font-size: 40px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__title--large {
    font-family: "Kalameh";
    font-size: 56px;
    font-weight: 700;
  }
}
.introduce__inner__description {
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.7;
}
@media screen and (min-width: 1024px) {
  .introduce__inner__description {
    padding: 0 64px;
  }
}
.introduce__inner__description p {
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .introduce__inner__description p {
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__description p {
    font-family: "Yekan Bakh";
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__description {
    width: 80%;
  }
}
.introduce__inner__actions {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  gap: 16px;
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .introduce__inner__actions {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__actions {
    width: 30%;
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 400;
  }
}
.introduce__inner__actions--auth {
  padding: 10px 0;
  width: 50%;
}
.introduce__inner__actions--about {
  padding: 10px 0;
  width: 50%;
}
.introduce__inner__picture {
  overflow: hidden;
}
.introduce__inner__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduce__overlay {
  position: absolute;
  inset: 0;
  z-index: -999;
}

.feature__wrapper {
  width: 100%;
}
.feature__inner {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature__inner__title {
  text-align: center;
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .feature__inner__title {
    font-family: "Kalameh";
    font-size: 28px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .feature__inner__title {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
  }
}
.feature__inner__description {
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .feature__inner__description {
    margin-bottom: 40px;
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .feature__inner__description {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
    width: 70%;
  }
}
.feature__inner__items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .feature__inner__items {
    flex-wrap: nowrap;
  }
}
.feature__inner__item {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .feature__inner__item {
    border-radius: 12px;
  }
}
.feature__inner__item__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
}
.feature__inner__item__logo img {
  width: 16px;
}
@media screen and (min-width: 768px) {
  .feature__inner__item__logo img {
    width: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .feature__inner__item__logo img {
    width: 24px;
  }
}
.feature__inner__item__title {
  font-family: "Kalameh";
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 8px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .feature__inner__item__title {
    font-family: "Kalameh";
    font-size: 15px;
    font-weight: 700;
  }
}
.feature__inner__item__description {
  font-family: "Yekan Bakh";
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .feature__inner__item__description {
    font-family: "Yekan Bakh";
    font-size: 13px;
    font-weight: 400;
  }
}

.download__wrapper {
  width: 100%;
  margin-top: 48px;
}
.download__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}
.download__inner__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .download__inner__right {
    align-items: flex-start;
    width: 50%;
  }
}
.download__inner__right__label {
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__label {
    text-align: start;
    font-family: "Yekan Bakh";
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__label {
    font-family: "Yekan Bakh";
    font-size: 13px;
    font-weight: 400;
  }
}
.download__inner__right__title {
  text-align: center;
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .download__inner__right__title {
    text-align: start;
    font-family: "Kalameh";
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__title {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
  }
}
.download__inner__right__picture {
  margin-top: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__picture {
    display: none;
  }
}
.download__inner__right__description {
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__description {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__description {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
  }
}
.download__inner__right__action {
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download__inner__right__action img {
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__action {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__action {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
  }
}
.download__inner__left {
  display: none;
  width: 40%;
}
@media screen and (min-width: 768px) {
  .download__inner__left {
    display: block;
  }
}

.comment__wrapper {
  width: 100%;
}
.comment__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comment__inner__title {
  padding: 0 32px;
  text-align: center;
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .comment__inner__title {
    font-family: "Kalameh";
    font-size: 28px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .comment__inner__title {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
    margin-top: 96px;
  }
}
.comment__inner__description {
  padding: 0 64px;
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .comment__inner__description {
    margin-bottom: 40px;
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .comment__inner__description {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
    width: 50%;
  }
}
.comment__inner__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .comment__inner__items {
    padding: 0 32px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: unset;
    justify-content: unset;
  }
}
.comment__inner__item {
  padding: 24px;
  display: none;
}
.comment__inner__item:nth-child(2) {
  display: unset;
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .comment__inner__item {
    display: unset;
  }
  .comment__inner__item:nth-child(1) {
    grid-row: 1/3;
  }
  .comment__inner__item:nth-child(2) {
    grid-row: 1/2;
    width: unset;
    margin: unset;
  }
  .comment__inner__item:nth-child(3) {
    grid-row: 1/3;
  }
  .comment__inner__item:nth-child(4) {
    grid-row: 3/4;
  }
  .comment__inner__item:nth-child(5) {
    grid-row: 2/4;
  }
  .comment__inner__item:nth-child(6) {
    grid-row: 3/4;
  }
}
.comment__inner__item__header {
  display: flex;
  align-items: center;
}
.comment__inner__item__header__image {
  margin-left: 10px;
}
.comment__inner__item__header__label--large {
  font-family: "Kalameh";
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .comment__inner__item__header__label--large {
    font-family: "Kalameh";
    font-size: 15px;
    font-weight: 700;
  }
}
.comment__inner__item__header__label--small {
  font-family: "Yekan Bakh";
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .comment__inner__item__header__label--small {
    font-family: "Yekan Bakh";
    font-size: 13px;
    font-weight: 400;
  }
}
.comment__inner__item__content {
  margin-top: 24px;
  line-height: 1.7;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .comment__inner__item__content {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
.comment__inner__slid {
  margin-top: 32px;
}

.footer__wrapper {
  width: 100%;
}
.footer__inner {
  padding: 0 32px;
}
.footer__inner__title {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
  font-family: "Kalameh";
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footer__inner__title {
    font-family: "Kalameh";
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__inner__title {
    font-family: "Kalameh";
    font-size: 16px;
    font-weight: 700;
  }
}
.footer__inner__title::before {
  content: "";
  display: block;
  width: 100%;
  max-width: 150px;
  height: 2px;
  background-color: #afafaf;
}
.footer__inner__title::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 150px;
  height: 2px;
  background-color: #afafaf;
}
@media screen and (min-width: 768px) {
  .footer__inner__contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 12px;
  }
}
@media screen and (min-width: 768px) {
  .footer__inner__contact__action {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .footer__inner__contact__action {
    width: 30%;
  }
}
.footer__inner__contact__action__title {
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footer__inner__contact__action__title {
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 700;
  }
}
.footer__inner__contact__action__description {
  margin-top: 8px;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__inner__contact__action__description {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
.footer__inner__contact__action__form button {
  transform: translate(0, -50%);
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 400;
}
.footer__inner__contact__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer__inner__contact__info {
    width: 40%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__inner__contact__info {
    width: 30%;
  }
}
.footer__inner__contact__info__item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer__inner__contact__info__item__content {
  font-family: "Yekan Bakh";
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__inner__contact__info__item__content {
    font-family: "Yekan Bakh";
    font-size: 13px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .footer__inner__contact__info__item__content {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
.footer__inner__contact__info__address {
  grid-row: 1/3;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0;
}
@media screen and (min-width: 768px) {
  .footer__inner__contact__info__address {
    flex-direction: row;
    align-items: flex-start;
    justify-content: unset;
    gap: 16px;
  }
}
.footer__inner__contact__info__phone {
  grid-row: 1/2;
}
.footer__inner__contact__info__fax {
  grid-row: 2/3;
}
.footer__inner__description {
  text-align: center;
  padding: 48px 0 20px 0;
  font-family: "Yekan Bakh";
  font-size: 12px;
  font-weight: 400;
}

.about__wrapper {
  width: 100%;
}
.about__inner {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    grid-row: auto auto;
    align-items: unset;
  }
}
.about__inner__summary {
  transition: background-color 0.3s ease;
  order: 2;
  margin-bottom: 40px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__inner__summary {
    order: unset;
    grid-row: 1/3;
    margin-bottom: unset;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.about__inner__summary__title {
  margin-bottom: 8px;
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 700;
}
.about__inner__summary__name {
  margin-bottom: 32px;
  font-family: "Kalameh";
  font-size: 28px;
  font-weight: 700;
}
.about__inner__summary__description {
  text-align: center;
  line-height: 2;
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__inner__summary__description {
    text-align: start;
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .about__inner__summary__description {
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 400;
  }
}
.about__inner__image {
  order: 1;
  margin-top: 24px;
}
.about__inner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .about__inner__image {
    order: unset;
    grid-row: 1/2;
    margin-top: 96px;
  }
}
.about__inner__items {
  order: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .about__inner__items {
    order: unset;
    grid-row: 2/3;
  }
}
.about__inner__items__item {
  width: 45%;
  transition: background-color 0.3s ease;
}
.about__inner__items__item--large {
  font-family: "Yekan Bakh";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}
.about__inner__items__item--small {
  font-family: "Yekan Bakh";
  font-size: 15px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */