@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Regular.woff2) format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-SemiBold.woff2) format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Bold.woff2) format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Black.woff2) format(woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Regular.woff2) format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-SemiBold.woff2) format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Bold.woff2) format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Black.woff2) format(woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Kalameh";
  src: url(../assets/fonts/kalameh/Kalameh-Bold.woff2);
  font-weight: 700;
}
* {
  font-family: "Yekan Bakh";
}

.header__wrapper {
  width: 100%;
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 16px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    position: initial;
    padding: 16px 20px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__humber {
    display: none;
  }
}
.header__logo a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Yekan Bakh";
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__logo a {
    position: initial;
    transform: unset;
    font-family: "Yekan Bakh";
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}
.header__nav ul {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .header__nav ul li a {
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  .header__nav ul li a:hover {
    color: #075cd9;
  }
}
.header__actions {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__actions__auth {
    padding: 8px 24px;
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 600;
  }
  .header__actions__toggle {
    padding: 8px;
  }
}

.introduce__wrapper {
  width: 100%;
}
.introduce__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}
.introduce__inner__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 64px;
}
.introduce__inner__title--medium {
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .introduce__inner__title--medium {
    font-family: "Kalameh";
    font-size: 24px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__title--medium {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
  }
}
.introduce__inner__title--large {
  font-family: "Kalameh";
  font-size: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .introduce__inner__title--large {
    font-family: "Kalameh";
    font-size: 40px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__title--large {
    font-family: "Kalameh";
    font-size: 56px;
    font-weight: 700;
  }
}
.introduce__inner__description {
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.7;
}
@media screen and (min-width: 1024px) {
  .introduce__inner__description {
    padding: 0 64px;
  }
}
.introduce__inner__description p {
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .introduce__inner__description p {
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__description p {
    font-family: "Yekan Bakh";
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__description {
    width: 80%;
  }
}
.introduce__inner__actions {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  gap: 16px;
  font-family: "Yekan Bakh";
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .introduce__inner__actions {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .introduce__inner__actions {
    width: 30%;
    font-family: "Yekan Bakh";
    font-size: 16px;
    font-weight: 400;
  }
}
.introduce__inner__actions--auth {
  padding: 10px 0;
  width: 50%;
}
.introduce__inner__actions--about {
  padding: 10px 0;
  width: 50%;
}
.introduce__inner__picture {
  overflow: hidden;
}
.introduce__inner__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduce__overlay {
  position: absolute;
  inset: 0;
  z-index: -999;
}

.feature__wrapper {
  width: 100%;
}
.feature__inner {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature__inner__title {
  text-align: center;
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .feature__inner__title {
    font-family: "Kalameh";
    font-size: 28px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .feature__inner__title {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
  }
}
.feature__inner__description {
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .feature__inner__description {
    margin-bottom: 40px;
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .feature__inner__description {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
    width: 70%;
  }
}
.feature__inner__items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .feature__inner__items {
    flex-wrap: nowrap;
  }
}
.feature__inner__item {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.031372549);
}
@media screen and (min-width: 768px) {
  .feature__inner__item {
    border-radius: 12px;
  }
}
.feature__inner__item__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
}
.feature__inner__item__logo img {
  width: 16px;
}
@media screen and (min-width: 768px) {
  .feature__inner__item__logo img {
    width: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .feature__inner__item__logo img {
    width: 24px;
  }
}
.feature__inner__item__title {
  font-family: "Kalameh";
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 8px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .feature__inner__item__title {
    font-family: "Kalameh";
    font-size: 15px;
    font-weight: 700;
  }
}
.feature__inner__item__description {
  font-family: "Yekan Bakh";
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .feature__inner__item__description {
    font-family: "Yekan Bakh";
    font-size: 13px;
    font-weight: 400;
  }
}

.download__wrapper {
  width: 100%;
  margin-top: 48px;
}
.download__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}
.download__inner__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .download__inner__right {
    align-items: flex-start;
    width: 50%;
  }
}
.download__inner__right__label {
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__label {
    text-align: start;
    font-family: "Yekan Bakh";
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__label {
    font-family: "Yekan Bakh";
    font-size: 13px;
    font-weight: 400;
  }
}
.download__inner__right__title {
  text-align: center;
  font-family: "Kalameh";
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .download__inner__right__title {
    text-align: start;
    font-family: "Kalameh";
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__title {
    font-family: "Kalameh";
    font-size: 32px;
    font-weight: 400;
  }
}
.download__inner__right__picture {
  margin-top: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__picture {
    display: none;
  }
}
.download__inner__right__description {
  text-align: center;
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__description {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__description {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
  }
}
.download__inner__right__action {
  font-family: "Yekan Bakh";
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download__inner__right__action img {
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .download__inner__right__action {
    font-family: "Yekan Bakh";
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .download__inner__right__action {
    font-family: "Yekan Bakh";
    font-size: 15px;
    font-weight: 400;
  }
}
.download__inner__left {
  display: none;
  width: 40%;
}
@media screen and (min-width: 768px) {
  .download__inner__left {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */