@import "variables";
@import "fonts";
@import "globals";
@import "mixins";

// Start Header
.header {
  &__wrapper {
    width: 100%;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;

    @include screen-md {
      position: initial;
      padding: 16px 20px;
      justify-content: space-between;
    }
  }

  &__humber {
    @include screen-md {
      display: none;
    }
  }

  &__logo {
    a {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include semibold16;

      @include screen-md {
        position: initial;
        transform: unset;
        @include semibold20;
      }
    }

    @include screen-md {
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }

  &__nav {
    ul {
      display: none;

      @include screen-md {
        display: flex;
        align-items: center;
        gap: 60px;

        li {
          a {
            @include semibold16;
            transition: color 0.3s ease;

            &:hover {
              color: $primary-hover-light;
            }
          }
        }
      }
    }
  }

  &__actions {
    display: none;

    @include screen-md {
      display: flex;
      align-items: center;
      gap: 20px;

      &__auth {
        padding: 8px 24px;
        @include semibold16;
      }

      &__toggle {
        padding: 8px;
      }
    }
  }
}
// Finish Header

// Start Introduce
.introduce {
  &__wrapper {
    width: 100%;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 32px;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 64px;

      &--medium {
        @include kalameh-regular20;
        margin-bottom: 4px;

        @include screen-md {
          @include kalameh-regular24;
        }

        @include screen-lg {
          @include kalameh-regular32;
        }
      }

      &--large {
        @include kalameh-bold32;

        @include screen-md {
          @include kalameh-bold40;
        }

        @include screen-lg {
          @include kalameh-bold56;
        }
      }
    }

    &__description {
      text-align: center;
      margin-bottom: 32px;
      line-height: 1.7;

      @include screen-lg {
        padding: 0 64px;
      }

      p {
        @include regular14;

        @include screen-md {
          @include regular16;
        }

        @include screen-lg {
          @include regular18;
        }
      }

      @include screen-lg {
        width: 80%;
      }
    }

    &__actions {
      margin-bottom: 40px;
      width: 100%;
      display: flex;
      gap: 16px;
      @include regular14;

      @include screen-md {
        width: 40%;
      }

      @include screen-lg {
        width: 30%;
        @include regular16;
      }

      &--auth {
        padding: 10px 0;
        width: 50%;
      }

      &--about {
        padding: 10px 0;
        width: 50%;
      }
    }

    &__picture {
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: -999;
  }
}
// Finish Introduce

// Start Feature
.feature {
  &__wrapper {
    width: 100%;
  }

  &__inner {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      text-align: center;
      @include kalameh-regular20;
      margin-top: 48px;
      margin-bottom: 12px;

      @include screen-md {
        @include kalameh-regular28;
      }

      @include screen-lg {
        @include kalameh-regular32;
      }
    }

    &__description {
      text-align: center;
      @include regular13;
      margin-bottom: 24px;
      line-height: 1.7;

      @include screen-md {
        margin-bottom: 40px;
        @include regular14;
      }

      @include screen-lg {
        @include regular15;
        width: 70%;
      }
    }

    &__items {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      @include screen-md {
        flex-wrap: nowrap;
      }
    }

    &__item {
      display: flex;
      width: 45%;
      flex-direction: column;
      align-items: center;
      padding: 20px 16px;
      border-radius: 8px;
      box-shadow: 0px 4px 63px #00000008;

      @include screen-md {
        border-radius: 12px;
      }

      &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;

        img {
          width: 16px;

          @include screen-md {
            width: 20px;
          }

          @include screen-lg {
            width: 24px;
          }
        }
      }

      &__title {
        @include kalameh-bold14;
        margin-bottom: 10px;
        margin-top: 8px;
        text-align: center;

        @include screen-lg {
          @include kalameh-bold15;
        }
      }

      &__description {
        @include regular12;
        text-align: center;

        @include screen-lg {
          @include regular13;
        }
      }
    }
  }
}
// Finish Feature

// Start Download
.download {
  &__wrapper {
    width: 100%;
    margin-top: 48px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include screen-md {
        align-items: flex-start;
        width: 50%;
      }

      &__label {
        text-align: center;
        @include regular11;
        margin-bottom: 4px;

        @include screen-md {
          text-align: start;
          @include regular12;
        }

        @include screen-lg {
          @include regular13;
        }
      }

      &__title {
        text-align: center;
        @include kalameh-regular20;

        @include screen-md {
          text-align: start;
          @include kalameh-regular28;
          margin-bottom: 20px;
        }

        @include screen-lg {
          @include kalameh-regular32;
        }
      }

      &__picture {
        margin-top: 24px;
        margin-bottom: 20px;

        @include screen-md {
          display: none;
        }
      }

      &__description {
        text-align: center;
        @include regular13;
        line-height: 1.7;
        margin-bottom: 20px;

        @include screen-md {
          @include regular14;
          text-align: start;
        }

        @include screen-lg {
          @include regular15;
        }
      }

      &__action {
        @include regular13;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 8px;
        }

        @include screen-md {
          @include regular14;
        }

        @include screen-lg {
          @include regular15;
        }
      }
    }

    &__left {
      display: none;
      width: 40%;

      @include screen-md {
        display: block;
      }
    }
  }
}
// End Download
